#gameContainer {
  text-align: center;
}

#gameBoard {
  border: 2px solid;
}

#scoreText {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 75px;
  font-weight: lighter;
}

#resetBtn {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  width: 100px;
  height: 50px;
  border-radius: 15px;
  cursor: pointer;
  border: 3px solid;
}